@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

#mainAboutWrapper {
  position: absolute; /*it can be fixed too*/

  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.aboutSection {
  font-weight: 100;
  margin-left: 5vw;
  margin-right: 5vw;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  width: 20vw;
  vertical-align: top;
}

.glyphicon {
  font-size: 20px;
  font-weight: 100 !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  transition: 0.5s ease-in-out;
}

.glyphicon:hover {
  color: gainsboro;
}

.sectionText {
  font-size: 2vw;
  white-space: normal;
  max-width: 20vw;
  display: none;
  padding: 0;
  margin: 0;
}

/* DESKTOP */
@media screen and (min-device-width: 1025px) {
  .aboutSection {
    font-size: 50px;
  }
  .plane-animation {
    animation: planeAnimationFrames linear 5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    position: absolute;
    top: 40vh;
    width: 10vw;
    left: -15vw;
    animation-delay: 5s;
  }

  @keyframes planeAnimationFrames {
    0% {
      transform: translate(0px, 0px);
    }
    12.5% {
      transform: translate(12.5vw, -4vh) rotate(6deg);
    }
    25% {
      transform: translate(25vw, 0);
    }
    37.5% {
      transform: translate(37.5vw, 4vh) rotate(-6deg);
    }
    50% {
      transform: translate(50vw, 0);
    }
    62.5% {
      transform: translate(62.5vw, -4vh) rotate(6deg);
    }
    75% {
      transform: translate(75vw, 0);
    }
    87.5% {
      transform: translate(87.5vw, 4vh) rotate(-6deg);
    }
    100% {
      transform: translate(110vw, 0) rotate(0deg);
    }
  }
}

/* SMARTPHONES */
@media screen and (max-device-width: 650px) {
  .aboutSection {
    margin-top: 10vh;
    font-size: 25px;
    display: block;
    margin-left: 10vw;
    width: 80vw;
  }

  .sectionText {
    font-size: 4vw;
    white-space: normal;
    max-width: 80vw;
    display: none;
    padding: 0;
    margin: 0;
  }
}

/* TABLETS */
@media screen and (max-device-width: 1024px) {
  .aboutSection {
    font-size: 35px;
  }

  .plane-animation {
    animation: planeAnimationFrames linear 5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    position: absolute;
    top: 40vh;
    width: 10vw;
    left: -15vw;
    animation-delay: 5s;
  }

  @keyframes planeAnimationFrames {
    0% {
      transform: translate(0px, 0px);
    }
    12.5% {
      transform: translate(12.5vw, -4vh) rotate(6deg);
    }
    25% {
      transform: translate(25vw, 0);
    }
    37.5% {
      transform: translate(37.5vw, 4vh) rotate(-6deg);
    }
    50% {
      transform: translate(50vw, 0);
    }
    62.5% {
      transform: translate(62.5vw, -4vh) rotate(6deg);
    }
    75% {
      transform: translate(75vw, 0);
    }
    87.5% {
      transform: translate(87.5vw, 4vh) rotate(-6deg);
    }
    100% {
      transform: translate(110vw, 0) rotate(0deg);
    }
  }
}

body {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
