@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;

}


#headMenu{
position: absolute;
text-decoration: none;
color:black;
right: 10vw;
}

#bottomMenu{
    position: absolute;
    text-decoration: none;
    color:black;
    left: 0vw;
    bottom: 2vh;
}

a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in;
    font-size: 20px;
    margin-left: 20vh;
}

a:hover{
    background: black;
    color: white;
    
}