@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  text-align: center;
}

body {
  font-family: "Lato", sans-serif;

  font-family: "Montserrat", sans-serif;

  font-weight: 200;
}

#headMenu {
  position: absolute;
  text-decoration: none;
  color: black;
  right: 10vw;
  z-index: 100;
  top: 2vh;
}

#bottomMenu {
  position: absolute;
  text-decoration: none;
  color: black;
  left: 0vw;
  bottom: 2vh;
  z-index: 100;
}

#bottomMenu a,
#headMenu a {
  cursor: pointer;
}

.dropdownHead {
  display: inline-block;
  position: relative;
}

.dropdownHead a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in;
  font-size: 20px;
  z-index: 25;
}

.dropdownHead-content a {
  color: black;
}

.dropdownHead-content a span {
  color: black;
  background-color: white;
}

.dropdownHead-content a span:hover {
  color: white !important;
  background-color: black !important;
}

.menuA {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in;
  font-size: 20px;
  margin-left: 10vw;
  z-index: 25;
  background: black;
}

.menuA:hover {
  background: white;
  color: black;
}

.dropdownHead-content {
  /*  THIS IS A STYLING FOR DROPDOWNS IN MAIN MENU  */
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  padding-top: 10px;
  width: calc(100% - 10vw);
}

.dropdownHead-content a {
  text-decoration: none;
  display: block;
  margin-top: 5px;
  text-align: right;
}

.dropdownHead:hover .dropdownHead-content {
  display: block;
}

.dragonflyImg {
  width: inherit;
}

.dragonflyDiv {
  z-index: 20;
  pointer-events: none;
  transform: rotate(130deg);
  width: 25px;
  height: 25px;
  position: absolute;
  animation-name: Player1;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(1.6, 0.8, 0.1, 0.1);
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}
@keyframes Player1 {
  0% {
    left: 0;
    top: 0%;
  }
  25% {
    transform: rotate(220deg);
    left: 100%;
    top: 0%;
  }
  50% {
    transform: rotate(310deg);
    left: 100%;
    top: 100%;
  }

  75% {
    transform: rotate(40deg);
    left: 0;
    top: 100%;
  }
  100% {
    transform: rotate(130deg);
    left: 0;
    top: 0%;
  }
}

.subSubMenu {
  display: none;
}

.subSubMenu a {
  font-size: 15px;
}

/*  THIS IS AN END OF STYLING FOR DROPDOWNS IN MAIN MENU  */

#mainContent {
  position: absolute;
  width: 100vw;
  top: 10vw;
  -webkit-overflow-scrolling: touch;
}

iframe {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

#mainContent > * {
  transition: transform 0.3s ease-in-out 0.3s;
  transition-timing-function: cubic-bezier(0, 0.48, 0.74, 0.8);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#mainContent object {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#mainContent html {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/**** ANIMATIONS *******/

.bounce {
  display: inline-block;
  position: relative;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateX(30px);
  }
  60% {
    transform: translateX(15px);
  }
}

/************SOCIAL MEDIA BUTTONS**********/

.smButton,
.smButton:hover {
  color: #000;
  text-decoration: none;
  padding: 10px;
}

.socialbtns {
  position: absolute;
  right: 1vw;
  bottom: 15vh;
  z-index: 50;
}

.socialbtnsbtnsbtns,
.socialbtnsbtnsbtns ul,
.socialbtnsbtnsbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtnsbtnsbtns li {
  list-style: none outside none;
  display: block;
}

.socialbtns li {
  list-style: none outside none;
  display: block;
}

.socialbtns .fa {
  color: #fff;
  text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000,
    -1px -1px 0px #000;
  -webkit-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000,
    -1px -1px 0px #000;
  -moz-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000,
    -1px -1px 0px #000;
  -o-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000,
    -1px -1px 0px #000;
  transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -webkit-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
}

.socialbtns .fa:hover {
  color: #000;
  text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff,
    -1px -1px 0px #fff;
  -webkit-text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff,
    -1px -1px 0px #fff;
  -moz-text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff,
    -1px -1px 0px #fff;
  -o-text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff,
    -1px -1px 0px #fff;
  transition: all ease 0.5s;
  -moz-transition: all ease-in 0.5s;
  -webkit-transition: all ease-in 0.5s;
  -o-transition: all ease-in 0.5s;
}

/************END OF SOCIAL MEDIA BUTTONS**********/

/**********OVERLAY MENU***********/

@media screen and (max-width: 760px) {
  .mainContent {
    top: 7vh !important;
  }

  /* The Overlay (background) */
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: scroll;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    bottom: 1vh;
    right: 2vw;
    font-size: 100px;
    font-weight: 100;
    color: rgba(197, 55, 66, 0.7);
    z-index: 10;
  }

  @media screen and (max-height: 450px) {
    .overlay {
      overflow-y: auto;
    }
    .overlay a {
      font-size: 20px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}

/******END OVERLAY MENU*********/

/*******MODAL WITH PRODUCT DETIALS********/

.btn {
  background: white;
  border: black solid 1px;
  border-radius: 1px;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color 0.1s ease;
}
.btn:hover {
  background: gray;
}

.btn-close {
  color: #aaaaaa;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  position: absolute;
  right: 7px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}
.modale:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.opened:before {
  display: block;
}
.opened .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 10%;
  display: inline;
}
.modal-dialog {
  background: #fefefe;
  border: #333333 solid 0px;
  border-radius: 5px;

  text-align: center;
  position: fixed;
  left: 40vw;
  top: -100%;
  z-index: 11;
  width: 20vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
  position: relative;
}
.modal-body input {
  width: 5vw;
  padding: 8px;
  border: 1px solid #ddd;
  color: rgb(179, 173, 173);
  outline: 0;
  font-size: 14px;
  font-weight: bold;
}

#sizepicker {
  width: 5vw;
  padding: 8px;
  border: 1px solid #ddd;
  color: #888;
  outline: 0;
  font-size: 14px;
  font-weight: bold;
  text-align-last: center;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}

/****** END MODAL WITH PRODUCT DETAILS*******/

#cartWrapper {
  position: fixed;
  width: 5vw;
  top: 1vh;
  right: 0.5vw;
  z-index: 100;
}

#cartWrapper a {
  color: black;
  text-decoration: none;
  font-size: 30px;
  float: right;
}

#cart {
  width: 2vw;
  margin: 0;
  margin-bottom: -0.4vh;
}

.cart-added {
  animation: addedItem 3s;
  -webkit-animation: addedItem 3s;
}
@keyframes addedItem {
  0% {
    transform: scale(1);
  }
  33.333% {
    transform: scale(0.5);
  }
  66.666% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
/******SPECIFICALLY DESKTOP*********/

@media screen and (min-width: 761px) {
  .noDesktop {
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  #logoContainerDesktop {
    position: absolute;
    width: 30vw;
    border-bottom: #818181;
    border-bottom-style: none;
    border-width: 1px;
    top: 1vh;
    left: 1vh;
    z-index: 100;
    cursor: pointer;
  }

  #logoDesktop {
    width: 30vw;
  }

  /**NESLETTER**/

  #email {
    font-size: 15px;
    padding: 15px 10px 10px;
    border: 1px solid black;
    background: transparent;
    color: #4c4c4c;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    max-width: 600px;
    margin-bottom: 30px;
  }
  #submitNewsletter {
    font-size: 12px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    border: 1px solid black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    width: 30%;
    color: #fff;
  }

  #result {
    margin-top: 30px;
  }

  #submitNewsletter span {
    text-align: center;
  }
  #submitNewsletter:hover {
    background: rgb(197, 202, 202);
  }
  /* main container */
  #newsletterContainer {
    display: none;
    position: absolute;
    width: 600px;
    height: 500px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 60;
  }
  /* text container */
  .text-container {
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 297px;
  }
  .title-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 20%;
    height: 70px;
    width: 200px;
    text-align: center;
  }
  .p1-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 40%;
    height: 70px;
    text-align: center;
  }
  .p2-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 20%;
    height: 70px;
    width: 200px;
    text-align: center;
  }
  .logo-container {
    margin: auto;
    margin-top: 20%;
    top: 5%;
    text-align: center;
    z-index: -1;
  }
  #logoNewsletterImg {
    width: 100%;
  }

  .sliderNewsletter {
    max-width: 300px;
    height: 100%;
    position: relative;
  }
  .slide1,
  .slide2,
  .slide3,
  .slide4,
  .slide5 {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .slide1 {
    background: url(../images/slide2.png) no-repeat center;
    background-size: cover;
    animation: fade 8s infinite;
    -webkit-animation: fade 8s infinite;
  }
  .slide2 {
    background: url(../images/slide3.png) no-repeat center;
    background-size: cover;
    animation: fade2 8s infinite;
    -webkit-animation: fade2 8s infinite;
  }
  .slide3 {
    background: url(../images/slide1.png) no-repeat center;
    background-size: cover;
    animation: fade3 8s infinite;
    -webkit-animation: fade3 8s infinite;
  }
  @keyframes fade {
    0% {
      opacity: 1;
    }
    33.333% {
      opacity: 0;
    }
    66.666% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade2 {
    0% {
      opacity: 0;
    }
    33.333% {
      opacity: 1;
    }
    66.666% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade3 {
    0% {
      opacity: 0;
    }
    33.333% {
      opacity: 0;
    }
    66.666% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .closebtnNewsletter {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px !important;
    margin-left: 50px;
    color: black;
    z-index: 20;
  }

  .closebtnNewsletter:hover {
    color: gray;
  }

  /**END NEWSLETTER**/

  /**pushing body navigation**/

  body {
    transition: background-color 0.5s;
  }

  #bodyWrapper {
    transition: margin-top 0.5s;
    height: 100vh;
    position: relative;
  }

  #overlayMain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: transparent; /*dim the background*/
    display: none;
  }

  /* NEWS GALLERY STLING */

  .newsGallery {
    height: 80vh;
    width: 100vw;
    display: none;
    position: absolute;
    top: 0vh;
  }

  /* END OF NEWS GALLERY */

  /**end pushing body navigation**/
}
/******* END DESKTOP********/

/******SPECIFICALLY TABLET*********/

@media screen and (max-width: 1024px) {
  #cartWrapper {
    width: auto;
  }
  #cart {
    width: 4vw;
  }

  #logoDesktop {
    margin-left: -5vw;
    width: 40vw;
  }
}

/******END TABLET********/

/******SPECIFICALLY MOBILE*********/

@media screen and (max-width: 760px) {
  .noMobile {
    display: none;
  }

  #newsletterContainer {
    display: none !important;
  }

  #logoContainerMobile {
    position: fixed;
    width: 100vw;
    height: 7vh;
    border-bottom: #818181;
    border-bottom-style: solid;
    border-width: 1px;
    z-index: 30;
    background: white;
  }

  #logoMobile {
    position: relative;
    width: 80vw;
    left: 10vw;
  }

  #cart {
    width: 5vw;
  }

  #cartWrapper {
    width: auto;
  }

  #mainContent {
    top: 10vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  #mainContentWrapper {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }

  .newsGallery {
    top: 0;
    height: 100vh;
  }

  #mobileMenuLogoImg {
    position: absolute;
    width: 70vw;
    left: 15vw;
    top: -20vh;
  }

  #openMobileNav {
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    margin: 5px;
    padding: 5px;
    right: 10px;
    top: 7vh;
    border: 1px solid rgb(0, 0, 0);
    font-weight: 300;
    background: white;
  }

  #sizepicker {
    width: 20vw;
  }

  .modal-dialog {
    width: 80vw;
    left: 10vw;
  }

  .socialbtns {
    position: absolute;
    right: 1vw;
    bottom: 0vh;
  }

  .upperMobileItem {
    font-size: 36px;
    padding-bottom: 50px;
  }

  .bottomMobileItem {
    margin-bottom: 10px;
  }

  .bottomMobileItem span {
    font-size: 22px;
    background-color: white;
    padding: 3px 10px 3px 10px;
  }

  .upperMobileItem:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 35%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid rgb(253, 253, 253); /* This creates the border. Replace black with whatever color you want. */
  }

  .mainMobileMenu {
    display: block;
  }

  .categoriesMobileMenu {
    display: none;
    font-size: 30px;
    margin: 0;
  }

  .categoriesMobileMenu span {
    display: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: rgba(124, 117, 117, 0.1);
  }
}

/****** END MOBILE *******/
